<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script src="https://kit.fontawesome.com/3c445f67f3.js" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <form name="f" th:action="@{/login}" method="post">
        <fieldset>
            <legend> Please login</legend>

            <div th:if="${param.logout}" class="alert alert-succes">
                <i class="fas fa-sign-out-alt"></i>
                You have been logged out.
            </div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Henk" )>
            <label form="password"> Password </label>
            <input type="password" id="password" name="password" placeholder="Wachtwoord123!"/>
            <div th:if="${param.error}" class="alert alert-error">
                <br>
                <i class="fas fa-exclamation-triangle"></i>
                invalid username and password
            </div>
            <div class="form-actions">
                <button type="submit">
                    <i class="fas fa-sign-in-alt"></i>
                    Log in
                </button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>