<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>log out</title>
    <script src="https://kit.fontawesome.com/3c445f67f3.js" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <form>
        <fieldset>
            <legend><i class="far fa-thumbs-up"></i> Gelukt! </legend>
            <h1>uitloggen gelukt</h1>
            <a th:href="@{/login}" >Terug naar de inlog pagina
            </a>
        </fieldset>
    </form>
</div>
</body>
</html>