<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>User input</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Full-width Jumbotron</h1>
        <span> <a th:href="@{/homepage}">Terug naar homepage </a> </span>
    </div>

    <div class="container">
        <p>This is some text.</p>
        <p>This is another text.</p>
        <input type="submit" class="btn btn-primary" value="Submit Button">
        <input type="submit" class="btn btn-danger" value="Reject Button">
    </div>
</div>

</body>
</html>